<h1>New Message</h1>
<form method="post" action="/new">
    <div>
        <label for="messageText">Message</label>
        <input type="text" name="text" id="messageText">
    </div>
    <div>
        <label for="messageUser">User</label>
        <input type="text" name="user" id="messageUser">
    </div>
    <button>Submit</button>
</form>