<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <h1>Message Details</h1>
        <div>
            <h2><%= message.text %></h2>
            <p>Sent By: <%= message.username %></p>
            <p>Posted <%= message.added %></p>
        </div>
        <a href="/">Back</a>
    </body>
</html>
